<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule List</title>
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>

    <style>
        tr:hover td {
            cursor: pointer;
            background-color: #3A4046;
        }
    </style>
</head>
<body style="margin: 0; padding: 0; height: 100vh; width: 100vw; display: flex; flex-direction: column; align-items: center;">
<!-- Container for centering header and content -->
<div style="width: 50vw; display: flex; flex-direction: column; align-items: center;">

    <!-- Header Section -->
    <header style="display: flex; justify-content: space-between; width: 100%; padding-top: 15vh; box-sizing: border-box;">
        <h1 style="margin: 0;">Manage Schedule Entries</h1>
    </header>

    <!-- Search Bar -->
    <div style="width: 100%; margin-top: 20px; box-sizing: border-box;">
        <input type="text" id="search-input" name="search" placeholder="Search by ID" style="width: 100%; padding: 10px; box-sizing: border-box;"
               hx-get="/api/get_schedule_entries" hx-trigger="keyup changed delay:50ms" hx-target="#schedule-table" hx-swap="innerHTML">
    </div>

    <!-- Content Section -->
    <div id="schedule-table" hx-get="/api/get_schedule_entries" hx-trigger="load" hx-swap="innerHTML" style="flex: 1; display: flex; justify-content: center; align-items: flex-start; width: 100%; margin-top: 20px; box-sizing: border-box;">
        <!-- The table will be loaded here -->
        Loading schedule data...
    </div>

    <div style="display: flex; justify-content: left; align-items: flex-start; width: 100%;">
        <a href="/create-scheduleentry" style="border-bottom: none">
            <button style="padding: 10px; background-color: #007bff; border: none; margin-left: 5px; border-radius: 4px; color: white; cursor: pointer;">Add Schedule Entry</button>
        </a>
    </div>

</div>
</body>
</html>
